In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv('../DataSeries/course-files/mcdonalds.csv', usecols=['Item', 'Category', 'TotalFat', 'Sugars', 'Protein',
                                                                        'Cholesterol'])

In [3]:
frame.head()

,Category,Item,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,13.0,260,3,17
1,Breakfast,Egg White Delight,8.0,25,3,18
2,Breakfast,Sausage McMuffin,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,23.0,50,2,21

In [4]:
frame.TotalFat.head() #1 sposób wyświetlenia danych z kolumny

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [6]:
frame['TotalFat'].head() #2 sposób

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

# Dodawanie kolumn

In [7]:
frame['TotalFat0'] = 0

In [8]:
frame.head()

,Category,Item,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,13.0,260,3,17,0
1,Breakfast,Egg White Delight,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,23.0,50,2,21,0

In [9]:
SugarAndFat = frame.Sugars + frame.TotalFat

In [10]:
frame['SugarAndFat'] = SugarAndFat

In [11]:
SugarAndFat.head()

0    16.0
1    11.0
2    25.0
3    30.0
4    25.0
dtype: float64

In [12]:
frame['SugarAndProtein'] = frame.Sugars + frame.Protein
frame.head()

,Category,Item,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,23.0,50,2,21,0,25.0,23

In [13]:
frame.insert(loc=2, column='SPF', value=frame.Sugars+frame.Protein+frame.TotalFat) #loc w którym miejscu nowa kolumna
                                    #ma się pojawić, potem nazwa kolumny i value inicjuje wartości nowej kolumny

In [15]:
frame.head()

,Category,Item,SPF,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,29.0,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,39.0,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,23.0,50,2,21,0,25.0,23

# Usuwanie kolumn

In [16]:
del frame['SugarAndProtein']

In [17]:
frame.head()

,Category,Item,SPF,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Breakfast,Egg McMuffin,33.0,13.0,260,3,17,0,16.0
1,Breakfast,Egg White Delight,29.0,8.0,25,3,18,0,11.0
2,Breakfast,Sausage McMuffin,39.0,23.0,45,2,14,0,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,28.0,285,2,21,0,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,23.0,50,2,21,0,25.0

In [19]:
#del frame.SugarAndFat error